body {
  font-family: Helvetica;
  margin: 0;
}

h1{
  font-size: 50px;
  color:white;
}
.container {
  width: 100%;
  min-height: 100vh;
}

.title-container {
  padding: 10px;
  text-align: center;
  background: rgba(210, 51, 51, 0.95);
}

.list-container {
  padding: 40px;
  display: flex;
  align-content: center;
  justify-content: center;
}

#logo {
  width: 200px;
}

#whc_logo{
  width: 100px;
}

.title-container img{
  margin: 40px;
}

#hall_of_fame {
  list-style: none;
  padding-left: 0;
  font-size: 25px;
}

#hall_of_fame li{
  text-align: left;
}

h2 {
  color: black;
}

li {
  margin: 5px;
}
